apiVersion: v1
kind: Service
metadata:
  name: user-service
  labels:
    app: user-service
spec:
  ports:
    - port: 8000
      targetPort: 8000
  selector:
    app: user-service
---
apiVersion: v1
kind: Service
metadata:
  name: event-analytics-service
  labels:
    app: event-analytics-service
spec:
  ports:
    - port: 5000
      targetPort: 5000
  selector:
    app: event-analytics-service
---
apiVersion: v1
kind: Service
metadata:
  name: ai-inference-service
  labels:
    app: ai-inference-service
spec:
  ports:
    - port: 6000
      targetPort: 6000
  selector:
    app: ai-inference-service
---
apiVersion: v1
kind: Service
metadata:
  name: communication-service
  labels:
    app: communication-service
spec:
  ports:
    - port: 7000
      targetPort: 7000
  selector:
    app: communication-service
---
apiVersion: v1
kind: Service
metadata:
  name: api-gateway
  labels:
    app: api-gateway
spec:
  ports:
    - port: 80
      targetPort: 80
  selector:
    app: api-gateway